export/
.vscode/
.github/
dlls/
example_mods/
gitVersion.txt
UPDATE HAXE TO 4.2.4/txt
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat